{{!-- <div>
  <h2>What people are asking…</h2>
  <ul class="example_queries">
    <li><strong>Coronavirus questions</strong></li>
    <li>what happens if i don't pay rent for a month?</li>
    <li>Can the landlord increase our rent as soon as they insulate?</li>
    <li>What counts as fair wear and tear?</li>
    <li>What do I do if my landlady doesn’t lodge my bond</li>
    <li>aggressive dogs next door</li>
  </ul>
</div> --}}
{{!-- <div>
<h2>Rather talk with a human?</h2>
<ul class="example_queries">
  <li>Tenant advocates</li>
  <li>Community Law</li>
  <li>Tenancy Services</li>
</ul>
</div> --}}
<div class="footer">
  Powered by <a href="https://citizenai.nz">Citizen AI</a>.<br />
  {{!-- <nobr>You can</nobr> find <a href="https://facebook.com/rentbotnz" target="_blank">Rentbot on Facebook</a> too. --}}
</div>