<div>
  <h2>What people are asking…</h2>
  <ul class="example_queries">
    {{#each example_questions}}
    <li><a href="/answers/{{link}}">{{question}}</a></li>
    {{/each}}
  </ul>
</div>
<div>
<h2>Rather talk with a human?</h2>
<ul class="example_queries clickable_queries">
  <li>Tenant advocates</li>
  <li>Community Law</li>
  <li>Tenancy Services</li>
</ul>
</div>
<div class="footer">
  Powered by <a href="https://citizenai.nz">Citizen AI</a>.<br />
  <nobr>You can</nobr> find <a href="https://facebook.com/rentbotnz" target="_blank">Rentbot on Facebook</a> too.
</div>