<div>
  <h2>What people are asking…</h2>
  <ul class="example_queries">
    <li>Coronavirus questions</li>
    <li>how can i get flexible working hours?</li>
    <li>Which interview questions are illegal?</li>
    <li>i dont know what constructive dismissal means</li>
  </ul>
</div>
<div>
<h2>Rather talk with a human?</h2>
<ul class="example_queries">
  <li>Community Law</li>
  <li>Employment NZ</li>
</ul>
</div>
<div class="footer">
  Powered by <a href="https://citizenai.nz">Citizen AI</a>.<br />
  <nobr>You can</nobr> find <a href="https://facebook.com/workbotnz" target="_blank">Workbot on Facebook</a> too.
</div>