<div class="answer_content">
  <h1>{{bot_name}} answers</h1>

  <h2>All {{bot_name}}&rsquo;s content, on one page</h2>
  <ul class="answers">
    {{#each topics}}
    <li><a href="answers/{{link}}">{{question}}</a></li>
    {{/each}}
  </ul>
</div>