<div class="answer_content">
  <h1>{{bot_name}} answers</h1>
  <p><a href="/answers">Answers</a></p>

  {{#with topic}}
  <h2>{{question}}</h2>

  <p>{{answer}}</p>

  <p><small>{{source}}</small></p>
  {{/with}}
</div>